.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #E2E8F0;
}

.container {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: var(--spacing-md);
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container h2 {
    color: #070505;
    margin-bottom: var(--spacing-md);
    font-size: 1.5rem;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
    align-items: center;
}

.error {
    color: red;
    margin-top: var(--spacing-sm);
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .container {
        width: 350px;
        border-radius: 15px;
    }

    .container h2 {
        font-size: 1.75rem;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 400px;
    }
}