.profile-container {
    display: flex;
}

.left-side {
    flex: 1;
    min-width: 400px;
    height: 100vh;
    padding-top: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8f8f8f;
    position: relative;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.right-side {
    flex: 3;
    padding: 20px;
}

.photos {
    margin-top: 50px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

.upload {
    display: flex;
    align-items: center;
    gap: 20px;
}

.custom-file-upload input,
.upload input{
    display: none;
}